<h2>Crear película</h2>
<form>
  <div class="form-group">
    <label for="name">Película</label>
    <input [(ngModel)]="movie.name" name="name" type="text" class="form-control" id="name" placeholder="Ingrese nombre de película">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label for="description">Descripción</label>
    <input [(ngModel)]="movie.description" type="text" name="description" class="form-control" id="description" placeholder="Ingrese descripción">
  </div>

  <div class="form-group">
    <label for="genre">Genero</label>
    <input [(ngModel)]="movie.genre" name="genre" type="text" class="form-control" id="genre" placeholder="Ingrese género">
  </div>

  <div class="form-group">
    <label for="year">Año</label>
    <input [(ngModel)]="movie.year" name="year" type="number" class="form-control" id="year" placeholder="Ingrese año">
  </div>

  <div class="form-group">
    <label for="duration">Duración</label>
    <input [(ngModel)]="movie.duration" name="duration" type="text" class="form-control" id="duration" placeholder="Ingrese duración">
  </div>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>

  <button (click)="saveMovie()" class="btn btn-primary">Crear película</button>
</form>
